body {
  margin: 0 auto;
  font-family: helvetica;
  font-size: 14px;
}

#mainContainer {
  margin: 0 auto;
  /* max-width: 640px; */
}

#mapContainer {
  height: 0;
}

#lowerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#legendContainer {
  display: grid;
  grid-auto-columns: 1fr;
}

#barChartContainer {
  height: 800px;
}

.states {
  fill: none;
}

.tparens {
  font-size: 12px;
  fill: #202020;
}

.tdeath {
  font-size: 12px;
}

.tperc {
  font-size: 12px;
  fill: #202020;
}

#select-dropdown {
  text-align: center;
  padding-top: 6px;
  font-size: 10px;
  font-weight: bold;
}